<footer>
    <div class="foot act foot1">
      <img src="__PUBLIC__/index/images/foot/ft_1_1.png">
        <p>首页</p>
    </div>
    <div class="foot foot2">
      <img src="__PUBLIC__/index/images/foot/ft_2.png">
        <p>娱乐</p>
    </div>
    <div class="foot foot3">
      <img src="__PUBLIC__/index/images/foot/ft_3.png">
        <p>游戏</p>
    </div>
    <div class="foot foot4" id="footer5">
      <img src="__PUBLIC__/index/images/foot/ft_4.png">
        <p>我的</p>
    </div>
</footer>  
    
</body>

<script>
    $(".foot1").click(function(){
            window.location.href = "__ROOT____PUBLIC__";
    })

    $(".foot2").click(function(){
            window.location.href = "__ROOT____PUBLIC__/index.php/index/happy/index";
    })

    $(".foot3").click(function(){
            window.location.href = "__ROOT____PUBLIC__/index.php/index/game/index";
    })

    $(".foot4").click(function(){
        window.location.href = "__ROOT____PUBLIC__/index.php/index/user/index";
    })
</script> 
