<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Happy 直播</title>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/user.css">

<script type="text/javascript" src="__PUBLIC__/index/js/Adaptive.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/jquery.js"></script>
</head>

<body>

<div class="head">
	<div class="head-img">
    	<img src="__PUBLIC__/index/images/user/head.png">
        <p><span class="line">登录</span><span id="register">注册</span></p>
    </div>
    <div class="logo-dbs">
    	<div class="dbs-img">
        	<img src="__PUBLIC__/index/images/icon/logo.png">
        </div>
        <p>全球低价游，满足你世界梦！</p>
    </div>
    <div class="bt"><p class="bt-lf">0关注</p><p>0粉丝</p></div>
</div>

<div class="whe">
	<div class="whe-lt whe-br">
    	<p class="lf-tp"><img src="__PUBLIC__/index/images/user/flag.png">足迹</p>
        <p class="lf-bt"><span>0国家</span><span>0城市</span></p>
    </div>
    <div class="whe-lt">
    	<p class="lf-tp"><img src="__PUBLIC__/index/images/icon/heart.png">足迹</p>
        <p class="lf-bt"><span>0国家</span><span>0城市</span></p>
    </div>
</div>
<div class="whe">
	<div class="whe-lt whe-br">
    	<p class="lf-tp"><img src="__PUBLIC__/index/images/user/in.png">足迹</p>
        <p class="lf-bt"><span>0国家</span><span>0城市</span></p>
    </div>
    <div class="whe-lt">
    	<p class="lf-tp"><img src="__PUBLIC__/index/images/user/out.png">足迹</p>
        <p class="lf-bt"><span>0国家</span><span>0城市</span></p>
    </div>
</div>

<div class="user">
	<div class="pn-lt">
    	<p><img class="img-lf" src="__PUBLIC__/index/images/user/lt_1.png">我的行程<img class="img-rt" src="__PUBLIC__/index/images/icon/arr_rt.png"></p>
    </div>
	<div class="pn-lt">
    	<p><img class="img-lf" src="__PUBLIC__/index/images/user/lt_2.png">我的帖子<img class="img-rt" src="__PUBLIC__/index/images/icon/arr_rt.png"></p>
    </div>
	<div class="pn-lt">
    	<p><img class="img-lf" src="__PUBLIC__/index/images/user/lt_3.png">我的收藏<img class="img-rt" src="__PUBLIC__/index/images/icon/arr_rt.png"></p>
    </div>
	<div class="pn-lt">
    	<p><img class="img-lf" src="__PUBLIC__/index/images/user/lt_4.png">我的问答<img class="img-rt" src="__PUBLIC__/index/images/icon/arr_rt.png"></p>
    </div>
	<div class="pn-lt">
    	<p><img class="img-lf" src="__PUBLIC__/index/images/user/lt_5.png">我的驴友<img class="img-rt" src="__PUBLIC__/index/images/icon/arr_rt.png"></p>
    </div>
	<div class="pn-lt">
    	<p><img class="img-lf" src="__PUBLIC__/index/images/user/lt_6.png">我的折扣<img class="img-rt" src="__PUBLIC__/index/images/icon/arr_rt.png"></p>
    </div>
    <div class="jg"></div>
</div>

</html>

<script>
    $(".line").click(function(){
            window.location.href = "http://www.lxinyin.xin/Happy/public/index/login/index";
    })

    $("#register").click(function(){
            window.location.href = "http://www.lxinyin.xin/Happy/public/index/register/index";
    })


</script>
